@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: 'Rowdies', serif;
    transition: all 0.4s ease;
    box-sizing: border-box;
}

/* ===== Colours ===== */
:root {
    --body-color: #F8F7E5;
    /* --nav-color: #FF834F; */
    --side-nav: #ec7949;
    --text-color: #1D1D1D;
    --dropdown-color: #ec7949;
}

body.dark {
    --body-color: #18191A;
    /* --nav-color: #242526; */
    --side-nav: #242526;
    --text-color: #CCC;
    --dropdown-color: #F8F7E5;
}

body {
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--body-color);
    position: relative;
}

/* ===== Navbar ===== */
nav {
    position: fixed;
    top: 15px;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
}

nav .nav-bar {
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    border-radius: 30px;
    border: 2px solid var(--text-color);
    background: var(--body-color);
    margin: 0 10px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-container {
    display: none;
}

nav .nav-bar .sidebarOpen {
    color: var(--text-color);
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle {
    display: none;
}

.nav-bar .nav-links {
    display: flex;
    align-items: center;
    /* position: absolute;
    left: 50%;
    bottom: 18px;
    transform: translateX(-50%); */
}

.nav-bar .nav-links li {
    margin: 0 5px;
    list-style: none;
}

.nav-links li a {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 3px;
    width: 0;
    border-radius: 30px;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before {
    opacity: 1;
    width: 70%;
}

/* Dark Mode */
.nav-bar .darkLight-mode {
    display: flex;
    align-items: center;
}

.darkLight-mode .dark-light {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
}

.dark-light i {
    position: absolute;
    color: var(--text-color);
    font-size: 26px;
    cursor: pointer;
    transition: all 0.6s ease;

}

.dark-light i.sun {
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun {
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon {
    opacity: 0;
    pointer-events: none;
}

/* profile */
.userMenu {
    position: relative;
    cursor: pointer;
    display: flex;
}

.userMenu .profileToggle img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.userMenu .profileToggle i {
    font-size: 35px;
    color: var(--text-color);
    stroke-width: 2px;
}

/* Dropdown Menu */
.profile-dropdown {
    position: absolute;
    right: 0;
    top: 50px;
    background: var(--dropdown-color);
    border-radius: 5px;
    width: 150px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    z-index: 200;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

body.dark .profile-dropdown {
    border-radius: 5px;
}

/* arrow */
.profile-dropdown::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 15px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid var(--dropdown-color);
    z-index: -10;
}

.profile-dropdown.active {
    opacity: 1;
    transform: translateY(0);
}

/* Text menu */
.profile-dropdown a,
.profile-dropdown button {
    display: block;
    width: 100%;
    padding: 5px;
    text-align: left;
    margin-left: 6px;
    cursor: pointer;
    text-decoration: none;
    color: var(--body-color);
    background: none;
}

.profile-dropdown a:hover,
.profile-dropdown button:hover {
    color: var(--text-color);
}

/* ===== Main Content ===== */
.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* ===== Footer ===== */
footer {
    width: 100%;
    padding: 10px 0;
    color: var(--text-color);
    position: relative;
    text-align: center;
    bottom: 0;
}

/* ======= styling ======= */

/* Homepage */
.home-content {
    width: 500px;
    border: 1px solid var(--text-color);
    border-radius: 30px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.section-profile {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-color);
    padding: 8px 16px;
}

.section-profile img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    outline: 1px solid var(--text-color);
    outline-offset: 2px;
}

.section-profile i {
    font-size: 40px;
    border-radius: 50%;
    outline: 1px solid var(--text-color);
    color: var(--text-color);
}

.schedule {
    display: flex;
    justify-content: center;
    border: 1px solid var(--text-color);
    border-radius: 15px;
    background-color: var(--text-color);
    padding: 2px 6px;
    align-items: center;
    cursor: pointer;
}

.schedule a {
    gap: 6px;
    display: inline-flex;
    font-weight: 100;
    color: var(--body-color);
    padding: 3px;
}

.schedule i {
    font-size: 26px;
    color: var(--body-color);
    transition: transform 0.5s ease;
}

.schedule a:hover i {
    transform: rotate(90deg);
}

.content-view {
    display: flex;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    height: auto;
}

.content-view img {
    max-width: 250px;
    display: flex;
    align-items: end;
}

.scroller {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    /* border: 1px solid lime; */
    margin-left: 20px;
}

.text-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.text-list li {
    position: absolute;
    opacity: 0;
    transform: translateY(20px);
    padding: 5px 8px;
    background: var(--text-color);
    color: var(--body-color);
    border-radius: 20px;
    width: fit-content;
    max-width: 200px;
    transition: opacity 0.5s ease, transform 0.5s ease;
    font-weight: 100;
    font-size: small;
}

.text-list li::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -7px;
    left: 10px;
    width: 20px;
    height: 20px;
    background: var(--text-color);
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

@keyframes fadeInBubble {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutBubble {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

/* Form Login */
.login-blade {
    height: auto;
    width: 400px;
    /* background-color: var(--body-color); */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid var(--body-color);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 20px 35px;
    color: var(--text-color);
}

.btn-req-back {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.btn-req-back button {
    padding: 4px 6px;
    cursor: pointer;
    color: var(--text-color);
    border-radius: 5px;
    transition: 0.3s;
    z-index: 1;
}

.btn-req-back button:hover {
    background-color: var(--text-color);
    color: var(--body-color);
}

.login-form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.login-form label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.login-form input {
    display: block;
    height: 50px;
    width: 100%;
    color: var(--body-color);
    background-color: var(--text-color);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.login-btn {
    margin-top: 50px;
    width: 100%;
    background-color: var(--text-color);
    color: var(--body-color);
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.social {
    margin-top: 30px;
    display: flex;
    cursor: pointer;
}

.social div {
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: var(--text-color);
    color: var(--body-color);
    text-align: center;
}

.social .fb {
    margin-left: 25px;
}

.social i {
    margin-right: 4px;
}

/* alert re-verification */
.alert-verify {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--body-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
}

.alert-verify p {
    margin-bottom: 10px;
}

.alert-verify form {
    margin-top: 10px;
}

.alert-verify .btn {
    display: inline-block;
    padding: 8px 15px;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.alert-verify .btn-primary {
    background-color: var(--text-color);
    color: var(--body-color);
}

.alert-verify .btn-primary:hover {
    background-color: var(--dropdown-color);
}

.alert-verify .mt-2 {
    margin-top: 2px;
}

/* Form Register */
.register-blade {
    height: auto;
    width: 400px;
    /* background-color: var(--body-color); */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid var(--body-color);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 20px 35px;
    color: var(--text-color);
}

.btn-req-back {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.btn-req-back button {
    padding: 4px 6px;
    cursor: pointer;
    color: var(--text-color);
    border-radius: 5px;
    transition: 0.3s;
    z-index: 1;
}

.btn-req-back button:hover {
    background-color: var(--text-color);
    color: var(--body-color);
}

.register-form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.register-form label {
    display: block;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
}

.register-form input {
    display: block;
    height: 50px;
    width: 100%;
    color: var(--body-color);
    background-color: var(--text-color);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.register-btn {
    margin-top: 50px;
    width: 100%;
    background-color: var(--text-color);
    color: var(--body-color);
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

/* Task Index */
.main-layout-task {
    display: flex;
    max-width: 1000px;
    width: 100%;
    height: 100%;
    margin-top: 95px;
    gap: 10px;
}

.task-menu {
    width: 240px;
    color: var(--text-color);
    padding: 20px;
    border-radius: 30px;
    border: 2px solid var(--text-color);
    background: var(--body-color);
}

.task-menu h2 {
    margin-bottom: 20px;
}

.task-menu ul {
    list-style: none;
}

.task-menu ul li {
    margin-bottom: 12px;
}

.task-menu ul li a {
    color: var(--text-color);
    text-decoration: none;
    transition: 0.2s;
}

.task-menu ul li a:hover {
    color: var(--side-nav);
}

.content-task {
    flex: 1;
    padding: 40px;
    border-radius: 30px;
    border: 2px solid var(--text-color);
    background: var(--body-color);
}

h1 {
    margin-bottom: 20px;
}

.filter-bar {
    margin-bottom: 30px;
}

.filter-bar select {
    padding: 6px 12px;
    font-size: 1rem;
    margin-top: 10px;
}

.task-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.task-card {
    background-color: #f1f2f6;
    padding: 20px;
    border-left: 5px solid #0984e3;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task-info p {
    margin: 5px 0;
    color: var(--body-color);
}

.status {
    font-size: 0.85rem;
    color: var(--text-color);
    margin-top: 8px;
}

.task-actions {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn {
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
}

.edit {
    background-color: #fdcb6e;
    color: #2d3436;
}

.delete {
    background-color: #d63031;
    color: var(--text-color);
}

.empty {
    color: #aaa;
    font-style: italic;
}